@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

#faq {
    background-color: #101010;
    /* margin: 0 242.5px; */
    margin: 0 12.6%;
    font-family: "Plus Jakarta Sans";
}

#faq h2 {
    font-size: 40px;
    font-weight: 600;
}

.faq-header {
    text-align: center;
    margin-top: 14px;
    margin-bottom: 120px;
    color: #FFFAFA;
}

.faq-header h1 {
    /* font-size: 64px; */
    font-size: 50px;
    font-weight: 600;
}

.question-section {
    color: #FFFAFA;
    margin-bottom: 200px;
}

.sponsorFaq {
    margin-bottom: 270px;
}

.dropdown-join-container {
    display: flex;
}

.dropdown {
    border-bottom: 1px solid #A9A9A9;
    /* width: 740px; */
    /* width: 39%; */
    width: 51%;

    /* margin-right: 347px; */
    margin-right: 18%;
}

/* gen FAQ accordion */
.accordion {
    background-color: transparent;
    color: #FFFAFA;
    font-size: 20px;
    cursor: pointer;
    /* padding: 24px 18px 24px 0; */
    padding: 24px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    /* transition: 0.4s; */
    border-top: 1px solid #A9A9A9;
    display: flex;
}

.arrow {
    margin: auto 18px auto auto;
    width: 24px;
    transition: transform 0.4s;
}

.rotate {
    transform: rotate(-180deg);
}

.panel {
    background-color: transparent;
    color: #A9A9A9;
    font-size: 20px;
    display: none;
    overflow: hidden;
}

.panel-text a {
    color: #A9A9A9;
}

.questions {
    display: flex;
    flex-direction: row;
}

.panel-text {
    border-left: 2px solid #FF2B06;
    padding-left: 52px;
    margin-bottom: 24px;
}



/* Join our team */
.faq-join {
    width: 347px;
    /* width: 19%; */
    margin-left: auto;
}

.faq-join-descr {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    /* padding: 24px 0; */
    margin-bottom: 24px;
}

.faq-join-descr h3 {
    color: #FFFAFA;
    font-weight: 500;
    margin-bottom: 20px;
}

.faq-join-descr p {
    color: #A9A9A9;
    font-weight: 400;
}

.faq-join-button {
    float: right;
}


/* Become a Speaker */
.faq-speaker {
    width: 347px;
    /* width: 19%; */
    margin-left: auto;
}

.faq-speaker-descr {
    border-top: 1px solid #A9A9A9;
    border-bottom: 1px solid #A9A9A9;
    /* padding: 24px 0; */
    margin-bottom: 24px;
}

.faq-speaker-descr h3 {
    color: #FFFAFA;
    font-weight: 500;
    margin-bottom: 20px;
}

.faq-speaker-descr p {
    color: #A9A9A9;
    font-weight: 400;
}

.faq-speaker-button {
    display: flex;
    float: right;
}

.applyButton {
    margin-right: 24px;
}