#event-card {
  display: flex;
  flex-direction: row;
  width: 1469px;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  align-self: center;
}

.event-img {
  width: 53.061rem;
  height: 29.843rem;
  flex-shrink: 0;
  object-fit: cover;
}

#event-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  /* align-self: flex-start; */
}

#event-name {
  margin-bottom: 0px;
  margin-top: 7px;
  font-size: 2.5rem;
}

#event-hr {
  margin-top: 9px;
  margin-bottom: 9px;
  opacity: 100%;
}

#event-details {
  margin-top: 5px;
  font-weight: lighter;
  font-size: 1.25rem;
}

#event-description {
  font-size: 1.25rem;
}

#event-description, #event-details, #event-name, #event-info button {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #FFFAFA;
}

#event-header {
  display: flex;
  flex-direction: row;
  gap: 12px;
  font-size: 20px;
  align-items: center;
}

#event-header p {
  margin-top: auto;
  margin-bottom: auto;
}