.contact-container {
    padding-top: 10rem;
}

.contact-heading {
    padding-bottom: 24px;
    margin-bottom: 0rem;
}
.stay-updated-ctr {
    width: 30.313rem;
}
.contact-form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.stay-updated-title {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;

}

.stay-updated-content {
    color: #A9A9A9;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 40px;

}

.contact-hr {
    margin: 0rem;
    padding-bottom: 40px;
}

.contact-socials-ctr {
    display: flex;
    align-items: center;
    gap: 40px;
}

.donate-hr {
    padding-top: 20px;
}

.donate-subtext {
    color: #A9A9A9;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.donate-content {
    width: 35.375rem;
}

.donate-content-ctr {
    display: flex;
    align-items: flex-start;
    gap: 419px;
    align-self: stretch;
}

.donate-links-ctr {
    display: flex;
    flex-direction: column;
}

.donate-link {
    display: flex;
    gap: 20px;
}

.donate-link-names {
    color: #FFFAFA;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-us-container, .donate-container {
    padding-bottom: 120px;
}

@media only screen and (max-width: 450px) {
    .contact-heading {
        padding-bottom: 12px;
        font-size: 24px;
    }

    .stay-updated-ctr {
        width: 335px;

    }

    .contact-form-container {
        flex-direction: column;
    }

    .stay-updated-title {
        font-size: 16px;
        padding-bottom: 8px;
    }

    .stay-updated-content {
        font-size: 14px;
        padding-bottom: 24px;
        margin-bottom: 0rem;
    }

    .contact-hr {
        margin: 0rem;
        padding-bottom: 24px;
    }

    .donate-subtext {
        color: #A9A9A9;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .donate-content {
        width: 335px;
    }

    .donate-content-ctr {
        flex-direction: column;
        gap: 0rem;
    }

    .donate-link {
        gap: 12px;
    }

    .donate-link-names {
        font-size: 16px;
    }

    .contact-us-container, .donate-container {
        padding-bottom: 80px;
    }
}