#navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(180deg, #101010 27.24%, rgba(16, 16, 16, 0.00) 87.15%);
  position: fixed;
  overflow: hidden;
  transition: top 0.3s;
  z-index: 2;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

#nav-content {
  display: flex;
  width: 100%;
  padding: 5rem 6.25rem 5rem 6.25rem;
  justify-content: space-between;
  align-items: center;
}

#logo {
  padding: 5rem 6.25rem 5rem 6.25rem;

}

#nav-left img {
  width: 12.32706rem;
  flex-shrink: 0;
}

#nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav-right a {
  color: #FFFAFA;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 3.75rem;
}

#nav-right a:hover {
  color: #FF2B06;
  transition: 0.5s;
}

#small-screen {
  display: none;
}

#side-menu-icon {
  display: none;
}

#side-menu-icon-clicked {
  display: none;
}

#half-bg {
  display: none;
}

#exit-button {
  display: none;
}

@media only screen and (max-width: 1130px) {
  #nav-right a {
    margin-left: 2.4rem;
  }
}

@media only screen and (max-width: 1024px) {
  #side-menu-icon {
    display: block;
    float: right;
    z-index: 3;
  }

  #side-menu-icon-clicked {
    display: none;
  }

  #nav-right {
    display: none;
  }

  #nav-right-side {
    display: flex;
    flex-direction: column-reverse;
    z-index: 1;
    width: auto;
    max-width: 45%;
    padding-right: 1.5rem;
    margin-left: auto;
  }

  #nav-right-side a {
    color: #FFFAFA;
    font-family: "Plus Jakarta Sans";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding-bottom: 1.3rem;
    padding-top: 1.3rem;
  }

  #navbar {
    width: 100%;
    left: 0;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #navbar-with-side-menu {
    width: 100%;
    display: flex;
    position: fixed;
    overflow: visible;
    transition: top 0.3s;
    z-index: 2;
    left: 0;
    top: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #nav-content-side {
    display: flex;
    width: 100%;
    padding: 2rem 0 6.25rem 3rem;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
  }

  #nav-content {
    padding: 3rem 1.5rem 6.25rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
  }

  #nav-left img {
    height: 2.86275rem;
    flex-shrink: 0;
  }

  #half-bg-side {
    height: 100vh;
    background: linear-gradient(180deg, #101010 27.24%, rgba(16, 16, 16, 0.00) 87.15%);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
  }

  #half-bg-other-side {
    right: 0;
    top: 0;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.34);
    z-index: 1;
  }

  #nav-button-row {
    display: flex;
    align-items: center;
    padding-bottom: 1.3rem;
    gap: 1.5rem;
    width: 100%;
  }

  #nav-right-side #buttons button{
    font-size: 1.5rem;
  }

  #exit-btn {
    height: 24px;
    flex-shrink: 0;
    cursor: pointer;
  }
}

@media only screen and (max-width: 700px) {
  #nav-left img {
    width: 90%;
  }
}

@media only screen and (max-width: 500px) {
  #nav-right-side a {
    font-size: 0.875rem;
  }

  #nav-right-side #buttons button{
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 450px) {
  #navbar {
    width: 100%;
  }

  #nav-content-side {
    padding: 2rem 1.5rem 6.25rem 1.5rem;
  }
}

