#landing {
  color: #FFFAFA;
  font-family: "Plus Jakarta Sans";
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* width: 100vw; 100% of the viewport width */
  /* height: 100vh; */
}

#tedx-intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: center;
  background: url('https://firebasestorage.googleapis.com/v0/b/tedxuofw-1de88.appspot.com/o/Repo%20Website%2FLanding%2Flanding-background.png?alt=media&token=f551a6f7-c982-402f-aa85-6b9e1fa945d0') center;
  width: 100vw;
  mix-blend-mode: exclusion;
  height: 72.25rem;
}

#intro-top {
  align-self: center;
}

#intro-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2.25rem;;
}

#landing-about {
  display: flex;
  flex-direction: column;
  width: 38.6875rem;
  gap: 0.625rem;
  margin-top: 14px;
}

#intro-bottom img {
  width: 50.75rem;
  height: 9.625rem;
}

#tedx-intro h1, .impact-number-pair h2 {
  font-size: 4rem;
}

#landing-about p {
  font-size: 1.125rem;
}

#tedx-intro h1, #landing-about p, .video-info-pair p, #team-card-right p {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#down-arrow {
  width: 3.4375rem;
  height: 1.6875rem;
  align-self: center;
}

#landing-content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 12.5rem;
  margin-top: 57px;
  margin-bottom: 12.5rem;
}

#landing-content h1 {
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#upcoming-events, #impact, #highlighted-talks, #join-our-team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

#impact-numbers {
  display: flex;
  align-items: flex-start;
  gap: 11.25rem;
}

.impact-number-pair {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
}

.impact-number-pair h2, p {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.impact-number-pair p {
  font-size: 1rem;
  text-align: center;
}

#lives-impacted h2 {
  color: #FF2B06;
}

#talk-videos {
  display: flex;
  height: 372.955px;
  align-items: flex-start;
  gap: 2.75rem;
}

.video-info-pair p {
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.video-info-pair {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

#talk-videos iframe {
  width: 460px;
  height: 18.26606rem;
}

#team-card {
  display: flex;
  width: 91.875rem;
  align-items: center;
  gap: 2.5rem;
}

#team-card img {
  width: 64.04331rem;
  height: 34.35113rem;
}


#team-card-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.25rem;
}

#team-card-right p {
  font-size: 1.5rem;
}