#footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2rem 0rem 2rem 0rem;
  background: linear-gradient(0deg, #101010 -10.3%, rgba(16, 16, 16, 0.00) 80.52%);
  mix-blend-mode: hard-light;
  margin-left: -15rem;
  margin-right: -15rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

#left {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem; /* Adjust the gap as needed */
  align-self: flex-start; /* Aligns to the start (left) */
  flex-wrap: wrap;
}

#right {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  gap: 2rem;
  align-self: flex-end;
  flex-wrap: wrap;
}

#logo {
  width: 351.495px;
  height: 89.33px;
  flex-shrink: 0;
}

#blurb {
  font-size: 15px;
}

#pages {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;

  /* Regular 20 */
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

#pages a {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;

  color: #FFFAFA;
  text-align: end;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.section a {
  text-decoration: none;
  color: var(--White, #FFF);

  /* Regular 20 */
  font-family: Poppins;
  font-style: normal;
  line-height: normal;
}

#copyright {
  color: #FFFAFA;
  font-family: "Plus Jakarta Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#icons {
  display: flex;
  gap: 1rem;
  margin-right: 0.7rem;
}

#icons a {
  display: flex;
  float: right;
  align-items: center;
  background-color: transparent;
}

#icons a:hover {
  opacity: 50%;
}

#pages a:hover {
  opacity: 50%;
}

/* Responsive CSS for tablets: */
@media screen and (max-width: 1024px) {
  #logo {
      max-width: 10rem;
  }
  #bar {
      display: none;
  }
  #blurb::before {
      content:"\a";
      white-space: pre;
  }
}
/* Additional responsive CSS for mobile */
@media screen and (max-width: 450px) {
  #copyright {
      order: 2;
  }
  .mobile-only {
      display: visible;
      opacity: 50%;
      margin-bottom: 0;
  }
  #blurb {
      font-size: 0.75rem;
  }
}
@media screen and (min-width: 450px) {
  .mobile-only {
      display: none;
  }
}